/*-- Andylah Start CSS --*/
#gStartTd
{
    padding: 30px 10px 10px 0px;
    color: #323232;
    font-size: 24px;
    font-weight: normal;
    font-family: arial;

}

.pHeader
{
    color: #646464;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
    line-height:0px;
    margin: 0px auto;
    padding-top:5px;
}



.pContent
{
    color:#969696;
    font-size:15px;
    font-weight:normal;
    font-family: arial;
    line-height:22px;
    vertical-align:text-top;
    margin: 0px auto;
    padding-top:10px;
}


/*-- Andylah End CSS --*/

.login-box, .register-box {

    width: 360px;

    margin: 0% auto;

}

.content-wrapper{

    /* background-image: url('../img/background.jpg'); -- this make error */ 

    background-size: 100% 100%;

    background-repeat: no-repeat;

}